
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body {
/*     background: #FF965E; */
    background: #FFE277 ; 
    font-family: 'Roboto', sans-serif;
    
}

/*****HEADER*****/

header{
    text-align: center;
}

header h1 {
    font-size: 64px;
    font-weight: 300;
    margin: 40px 0 25px;
    color: black;
}

header h1 span {
    font-weight: 700;
}

header h2 {
    color: black;
    font-weight: 300;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li{
    margin: 10px;
    float: right;
    font: 700 14px 'Ubuntu', sans-serif;
}
header li:hover{
    background: rgba(36, 34, 34, 0.105);
    cursor: pointer;

}

/*****FORM*****/

.form {
    width: 800px;
    margin: 50px auto 20px;

}
#todoInput {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	padding: 20px;
	color: #2121228f;
}


.list {
	width: 750px;
	margin: 0 auto;
}

.task {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	padding: 0 20px;
	color: #222831;
	transition: all .3s ease;
}

.task button{
    display: none;
    float: right;
}
.task:hover {
    background: rgba(100, 70, 40, 0.664);

	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #222831;
}
.task:hover button{
    margin-left: 10px;
    display: inline;

}

.modal {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    width:auto;
    background: white;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transform: translate(-50%, -50%);
  }

  .modal__content {
    padding: 1rem;
    min-height: 10rem;
  }


  .hideModal{
    z-index:-1;
    opacity:0;
  animation: hide .25s;
  
transform: scale(0);
}@keyframes hide {
  from{
      z-index:2;
transform: scale(1);
    opacity:1;
  } to{
      z-index:-1;
transform: scale(0);
    opacity: 0;
  }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    animation: fadeIn ease 0.2s;
  }



  .centered {
    justify-content: center;
    align-items: center;
  }
  

  .close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
  }

  form{
      margin: 2rem;
      font: 300 28px 'Ubuntu', sans-serif;


  }
  form input {
    width: 30em;
    height: 2rem;
    float: left;
    display: block;
  }

  form label{
    display: block;
    width: 7em;
    float: left; /* makes the element act like inline block */
    clear: left; 
  }

  form button {

      background: black;
      color: white;
  }